<a href="https://colab.research.google.com/github/jamesqiu2021/DSCI-401-QW/blob/main/HW-2%20QW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
Teams = pd.read_csv("https://raw.githubusercontent.com/gjm112/DSCI401/main/data/Teams.csv")
print(Teams.columns)
Teams.head

Index(['yearID', 'lgID', 'teamID', 'franchID', 'divID', 'Rank', 'G', 'Ghome',
       'W', 'L', 'DivWin', 'WCWin', 'LgWin', 'WSWin', 'R', 'AB', 'H', 'X2B',
       'X3B', 'HR', 'BB', 'SO', 'SB', 'CS', 'HBP', 'SF', 'RA', 'ER', 'ERA',
       'CG', 'SHO', 'SV', 'IPouts', 'HA', 'HRA', 'BBA', 'SOA', 'E', 'DP', 'FP',
       'name', 'park', 'attendance', 'BPF', 'PPF', 'teamIDBR',
       'teamIDlahman45', 'teamIDretro'],
      dtype='object')

<bound method NDFrame.head of       yearID lgID teamID franchID divID  Rank    G  Ghome    W    L  ...   DP  \
0       1871  NaN    BS1      BNA   NaN     3   31    NaN   20   10  ...   24
1       1871  NaN    CH1      CNA   NaN     2   28    NaN   19    9  ...   16
2       1871  NaN    CL1      CFC   NaN     8   29    NaN   10   19  ...   15
3       1871  NaN    FW1      KEK   NaN     7   19    NaN    7   12  ...    8
4       1871  NaN    NY2      NNA   NaN     5   33    NaN   16   17  ...   14
...      ...  ...    ...      ...   ...   ...  ...    ...  ...  ...  ...  ...
2980    2021   NL    SLN      STL     C     2  162   81.0   90   72  ...  137
2981    2021   AL    TBA      TBD     E     1  162   81.0  100   62  ...  130
2982    2021   AL    TEX      TEX     W     5  162   81.0   60  102  ...  146
2983    2021   AL    TOR      TOR     E     4  162   80.0   91   71  ...  122
2984    2021   NL    WAS      WSN     E     5  162   81.0   65   97  ...  116

         FP                     name                          park  \
0     0.834     Boston Red Stockings           South End Grounds I
1     0.829  Chicago White Stockings       Union Base-Ball Grounds
2     0.818   Cleveland Forest Citys  National Association Grounds
3     0.803     Fort Wayne Kekiongas                Hamilton Field
4     0.840         New York Mutuals      Union Grounds (Brooklyn)
...     ...                      ...                           ...
2980  0.986      St. Louis Cardinals             Busch Stadium III
2981  0.986           Tampa Bay Rays               Tropicana Field
2982  0.986            Texas Rangers              Globe Life Field
2983  0.984        Toronto Blue Jays                  Sahlen Field
2984  0.983     Washington Nationals                Nationals Park

      attendance  BPF  PPF  teamIDBR  teamIDlahman45  teamIDretro
0            NaN  103   98       BOS             BS1          BS1
1            NaN  104  102       CHI             CH1          CH1
2            NaN   96  100       CLE             CL1          CL1
3            NaN  101  107       KEK             FW1          FW1
4            NaN   90   88       NYU             NY2          NY2
...          ...  ...  ...       ...             ...          ...
2980   2102530.0   92   92       STL             SLN          SLN
2981    761072.0   92   91       TBR             TBA          TBA
2982   2110258.0   99  101       TEX             TEX          TEX
2983    805901.0  102  101       TOR             TOR          TOR
2984   1465543.0   95   96       WSN             MON          WAS

[2985 rows x 48 columns]>

# 1 (a) Create a data frame that is a subset of the Teams data frame that contains only the years from 2000 through 2009 and the variables yearID, W, and L.

In [17]:
Teams[["yearID","W","L"]][Teams.yearID >= 2000][Teams.yearID <= 2009]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

      yearID   W    L
2325    2000  82   80
2326    2000  85   77
2327    2000  95   67
2328    2000  74   88
2329    2000  85   77
...      ...  ..  ...
2620    2009  91   71
2621    2009  84   78
2622    2009  87   75
2623    2009  75   87
2624    2009  59  103

[300 rows x 3 columns]