<a href="https://colab.research.google.com/github/jamesqiu2021/DSCI-401-QW/blob/main/hw7_qw.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 Q1. Write a SQL query to create a list of all movies that Kevin Bacon has ever been in and convert this to a data frame object in R/Python.

In [ ]:
pip install mysql-connector-python

In [ ]:
import mysql.connector
from mysql.connector import Error
import pandas as pd

In [ ]:
def create_server_connection(host_name, user_name, user_password, database):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password, 
            database = database
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")

    return connection

In [ ]:
connection = create_server_connection("scidb.smith.edu", "sds192", "DSismfc@S","imdb")

def read_query(connection, query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except Error as err:
        print(f"Error: '{err}'")

MySQL Database connection successful

In [ ]:
q = """SELECT DISTINCT t.title, ci.movie_id,t.production_year
FROM name n
JOIN cast_info ci ON ci.person_id = n.id
JOIN title t ON t.id = ci.movie_id
WHERE n.name='Bacon, Kevin'
AND t.kind_id=1
ORDER BY production_year
DESC;"""

result = read_query(connection, q)

print(result)

In [ ]:
pd.DataFrame(result,columns = ['title','movie_id','production_year'])

Q2: Find a list of every actor/actress who has appeared in a movie with Kevin Bacon.

In [ ]:
q2="""SELECT DISTINCT ci.person_id, n.name
FROM name n
JOIN cast_info ci ON ci.person_id = n.id
JOIN title t ON t.id = ci.movie_id
WHERE t.kind_id=1
AND ci.movie_id IN 
(SELECT DISTINCT ci.movie_id
FROM name n
JOIN cast_info ci ON ci.person_id = n.id
JOIN title t ON t.id = ci.movie_id
WHERE n.name='Bacon, Kevin'
AND t.kind_id=1
);"""

result = read_query(connection, q2)
print(result)

In [ ]:
pd.DataFrame(result,columns = ['ci.person_id','n.name'])