<a href="https://colab.research.google.com/github/jamesqiu2021/DSCI-401-QW/blob/main/test1_WQ.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Load the cereal data and use it to answer the following questions. (Note: For loops are not an acceptable solution for any of these questions.)

In [13]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
cereal = pd.read_csv("https://raw.githubusercontent.com/gjm112/LoyolaTeaching/main/cereal.csv")
manufactures =pd.read_csv("https://raw.githubusercontent.com/gjm112/LoyolaTeaching/main/cereal_mfr.csv")
cereal.head()

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843

1(a) (5 points) Merge the manufacturer full name onto the cereal data set.

In [ ]:
cereal_merge=pd.merge(cereal,manufactures,left_on="mfr",right_on="mfr",how="inner")
cereal_merge.head(20)

1(b) (5 points) For this problem, we will only consider low sodium cereals" defined as cereals with less than or equal to 200mg of sodium.
Create a table for the low sodium cereals that shows the mean calories, mean protein, and mean fat content by the full name of the
manufacturer.

In [23]:
cereal_merge1=cereal_merge.loc[:,["mfr_full","calories","protein","fat","sodium"]][cereal_merge["sodium"]<=200].groupby("mfr_full",as_index=False).mean()
cereal_merge1

                      mfr_full    calories   protein       fat      sodium
0  American Home Food Products  100.000000  4.000000  1.000000    0.000000
1                General Mills  110.714286  2.214286  1.285714  174.285714
2                     Kelloggs  108.571429  2.357143  0.714286  124.285714
3                      Nabisco   86.666667  2.833333  0.166667   37.500000
4                         Post  111.250000  2.375000  1.000000  138.125000
5                  Quaker Oats   86.666667  3.166667  1.666667   50.000000
6               Ralston Purina  120.000000  2.800000  1.800000  167.000000

(c) (5 points) Which 5 cereals have the highest calories per cup (i.e calories / cups)?

In [33]:
cereal_merge2 = cereal_merge
cereal_merge2["calories_per_cup"]=cereal_merge2["calories"]/cereal_merge2["cups"]
highest_calories=cereal_merge2.loc[:,["name","calories_per_cup"]].sort_values(by="calories_per_cup",ascending=False)
highest_calories.head(5)

                    name  calories_per_cup
72            Grape-Nuts        440.000000
73    Great Grains Pecan        363.636364
58  Oatmeal Raisin Crisp        260.000000
27  Mueslix Crispy Blend        238.805970
49              Clusters        220.000000

(d) (5 points) For each manufacturer, which of their cereals has the lowest calories per cup (i.e. calories divided by cups)?

In [34]:
#cereal_merge2 <- cereal_merge %>% mutate(calories_per_cup = calories/cups) %>%  group_by(mfr_full) %>% summarise(min_calories_cup=min(calories_per_cup))%>% inner_join(cereal_merge1,by=c("min_calories_cup"="calories_per_cup"))
#cereal_merge2
cereal_merge3 = cereal_merge2.loc[:,["mfr_full","calories_per_cup"]].groupby("mfr_full").min()
cereal_merge3

                             calories_per_cup
mfr_full
American Home Food Products        100.000000
General Mills                       73.333333
Kelloggs                            90.000000
Nabisco                             80.000000
Post                                82.706767
Quaker Oats                         50.000000
Ralston Purina                      97.345133